@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  @apply border border-gray-300 rounded-md px-1 w-1/3 mb-2;
}

input:focus,
textarea:focus {
  @apply border border-blue-900;
}

h1 {
  @apply text-blue-900 mb-2 text-lg font-semibold;
}

label {
  @apply text-blue-900;
}
.btn-primary {
  @apply bg-blue-900 text-white px-4  py-1 rounded-md;
}

.btn-primary:hover {
  @apply bg-blue-500 text-white px-4  py-1 rounded-md transition;
}

Link:hover{
  @apply bg-blue-500
}